<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Ebullioscopic/Atoll/main/Updates/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>q2YQaJ1umGkaIJWMGN9Isj5fx/YlUtxnzHEBqFtfZcg=</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Atoll 需要麦克风权限进行语音输入，将语音转为文字发送给 AI 助手。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Atoll 需要语音识别权限将您的语音转为文字，方便与 AI 对话。</string>
</dict>
</plist>
